<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingnan.myschool.mapper.AdminRolePermissionMapper">
   <select id="findAllByRid" resultType="AdminRolePermission" parameterType="list">
       select * from admin_role_permission where rid in
       <foreach collection="rid" item="item" open="(" separator="," close=")">
           #{item}
       </foreach>
   </select>
</mapper>