<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingnan.myschool.mapper.AdminPermissionMapper">
    <select id="findAllByPid" resultType="AdminPermission" parameterType="list">
        select * from admin_permission where id in
        <foreach collection="pid" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>